/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Background */
body {
  background: linear-gradient(#1e293b, #334155);
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

/* Main Container */
.main-container {
  width: 900px;
}

/* Title */
.main-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  letter-spacing: 3px;
  color: #ffffff;
}

/* Card */
.card {
  display: flex;
  align-items: center;
  background: #f8fafc;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}

/* Alternate Layout */
.card:nth-child(even) {
  flex-direction: row-reverse;
}

/* Image */
.card img {
  width: 350px;
  height: 240px;
  object-fit: cover;
}

/* Content */
.card-content {
  padding: 35px;
  flex: 1;
}

.card-content h2 {
  font-size: 22px;
  margin-bottom: 12px;
  color: #111;
}

.card-content p {
  font-size: 14px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 20px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 9px 20px;
  border-radius: 25px;
  border: none;
  font-size: 13px;
  cursor: pointer;
  background: #1e293b;
  color: #ffffff;
  transition: 0.3s ease;
}

.btn:hover {
  background: #0f172a;
  transform: scale(1.05);
  color: #fff;
}